<!-- Control launch file -->
<launch>


  <node name="puzzlebot_controller" pkg="aranchubots_autonomousnavigation_puzzlebot" type="aranchubots_autonomousnavigation_puzzlebot_node"/>

  <node name="odom" pkg="aranchubots_autonomousnavigation_puzzlebot" type="odom.py"/>

  <include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/robot/puzzlebot_control.launch"/>"


  <!-- To be able to teleop my robot through RVIZ using interactive markers -->
  <node pkg="interactive_marker_twist_server" type="marker_server"
        name="twist_marker_server">
    <remap from="twist_marker_server/cmd_vel" to="/cmd_vel"/>
  </node>
</launch>