<!-- Load robot_description to ros parameter server and create TF tree from xacro/urdf file -->
<launch>
  <!-- Cambiar la funcionalidad a lectura en vez de ejecutar (xacro) -->
  <param name="robot_description" command="cat $(find aranchubots_autonomousnavigation_puzzlebot)/urdf/puzzlebot_jetson_ed_urdf.urdf"/>

  <!-- Publish TF static transforms found in xacro/urdf file -->
  <!-- If more than 1 robot was spawned a namespace must be added here to 
  differentiate each robot TFs. To do so, just add a remap inside the node
  declaration -->
  <node name="robot_state_publisher" pkg="gazebo_ros" type="spawn_model" 
        respawn="false" output="screen" />

</launch>