<!-- Load robot_description to ros parameter server and create TF tree from xacro/urdf file -->
<launch>
  <!-- Cambiar la funcionalidad a lectura en vez de ejecutar (xacro) -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find aranchubots_autonomousnavigation_puzzlebot)/urdf/puzzlebot_lidar.xacro'" />
</launch>