<?xml version="1.0" encoding="UTF-8"?>

    <launch>

        <!--Puzzlebot Parameters-->
        <arg name="robot_name" default="puzzlebot_1"/>
        <arg name="robot_description_file" default="puzzlebot_jetson_lidar_ed_v1.xacro"/>
        <arg name="pos_x" default="0.31"/>
		<arg name="pos_y" default="-0.27"/>
		<arg name="pos_theta" default="0.0"/>

		<arg name="eps" default="0.05"/>

		<arg name="is_sim" default="true" />

        <!-- Gazebo Parameters -->
        <arg name="world_name" default="$(find aranchubots_autonomousnavigation_puzzlebot)/worlds/first_world.world"/>
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>

        <!-- Launch Gazebo -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="debug" value="$(arg debug)" />
            <arg name="gui" value="$(arg gui)" />
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="extra_gazebo_args" value="--lockstep"/>
        </include>

         <!-- Launch Puzzlebot -->
        <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_spawner.launch">
            <arg name="robot" value="$(arg robot_name)"/>
            <arg name="robot_description_file" value="$(arg robot_description_file)"/>
            <arg name="x" value="$(arg pos_x)"/>
            <arg name="y" value="$(arg pos_y)"/>
            <arg name="yaw" value="$(arg pos_theta)"/>
        </include>

		<include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/robot/description2d.launch"/>

		<node pkg="aranchubots_autonomousnavigation_puzzlebot" type="odom.py" name="odom_node" output="screen">
			<param name="pos_x" value="$(arg pos_x)" />
			<param name="pos_y" value="$(arg pos_y)" />
			<param name="pos_theta" value="$(arg pos_theta)" />
			<param name="is_sim" value="$(arg is_sim)" />
		</node>

		<node pkg="aranchubots_autonomousnavigation_puzzlebot" type="bug0.py" name="bug0" output="screen">
			<param name="eps" value="$(arg eps)" />
			<param name="is_sim" value="$(arg is_sim)" />
		</node>

		<arg name="map_file" default="$(find aranchubots_autonomousnavigation_puzzlebot)/maps/map.yaml"/>
    	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find aranchubots_autonomousnavigation_puzzlebot)/rviz/bug0_sim.rviz"/>

		<include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/aruco/aruco_detect_sim.launch"/>

		<node pkg="aranchubots_autonomousnavigation_puzzlebot" type="yaml_to_camera_info_publisher.py" name="yaml_to_camera_info_publisher">
			<param name="is_sim" value="$(arg is_sim)" />
		</node>

    	<node pkg="aranchubots_autonomousnavigation_puzzlebot" type="aruco.py" name="aruco" output="screen">
			<param name="is_sim" value="$(arg is_sim)" />
		</node>

		<node pkg="image_transport" type="republish" name="compress_img" args="raw in:=/puzzlebot_1/camera/image_raw compressed out:=/camera/image"/>

    </launch>
