<launch>

    <remap from="/front/scan" to="/scan"/>

    <!-- Launching gazebo maze simulation -->
    <include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/gazebo_launch.launch"/>

    <!-- Launching Rviz with mapping configuration (only uncomment when
    creating the map of the environment) -->
    <!-- Launching Rviz with mapping configuration (only uncomment when creating the map of the environment) -->
    <include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/rviz/rviz_launch_nav_2d.launch"/>

    <include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/robot/spawner2d.launch"/>

	<include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/robot/control.launch"/>


    <!-- Launching Rviz with navigation visualization -->
    <!-- include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/rviz/rviz_launch_nav_2d.launch"/-->

    <!-- Launching ROS Navigation Stack nodes -->
    <!-- Launch gmapping node and move base to generate map of environment -->
    <!-- This is only done one time to generate the map, it should be commented
    once the map is obtained -->
    <include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/start_navigating_2d.launch"/>

    <!-- This is only done one time to generate the map, it should be commented once the map is obtained -->
    <!-- Launch map, localization and navigation -->
    <!--include file="$(find aranchubots_autonomousnavigation_puzzlebot)/launch/include/start_navigating_2d.launch"/-->

</launch>